@font-face {
    font-family: BlenderProMedium;
    src: url(BlenderPro-Medium.woff2) format("woff2"),
    url(BlenderPro-Medium.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}